BusinessLayer/Service References/ServiceReference1/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5910/ItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5910/ItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5910/ItemService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5910/ItemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ItemCatalog" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_getFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:getFiles" />
  </wsdl:message>
  <wsdl:message name="IItemService_getFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_createNewItem_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_createNewItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_editItem_InputMessage">
    <wsdl:part name="parameters" element="tns:editItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_editItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:editItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="getFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getFiles" message="tns:IItemService_getFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getFilesResponse" message="tns:IItemService_getFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getItems" message="tns:IItemService_getItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getItemsResponse" message="tns:IItemService_getItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/createNewItem" message="tns:IItemService_createNewItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/createNewItemResponse" message="tns:IItemService_createNewItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/editItem" message="tns:IItemService_editItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/editItemResponse" message="tns:IItemService_editItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFiles">
      <soap:operation soapAction="http://tempuri.org/IItemService/getFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/getItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/createNewItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/editItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:5910/ItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>