BusinessLayer/Service References/WebServiceReference/ItemService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCFService/ItemService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/WCFService/ItemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ItemCatalog" />
  <xs:element name="getFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFilesResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bodyFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ItemCatalog" minOccurs="0" name="getItemsResult" nillable="true" type="q2:ArrayOfbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ItemCatalog" minOccurs="0" name="catalog" nillable="true" type="q3:catalog" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ItemCatalog" minOccurs="0" name="newbook" nillable="true" type="q4:book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ItemCatalog" minOccurs="0" name="catalog" nillable="true" type="q5:catalog" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ItemCatalog" minOccurs="0" name="book" nillable="true" type="q6:book" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>